body {
    background-color: rgb(238, 238, 238);

}

.container {
    margin: auto;
    width: 80%;
    height: 40vh;
    background-color: rgb(138, 138, 138);

}

.product {
    background-color: white;
    width: 40%;
    height: 15vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    display: inline-block;
    margin: 20px;

}

.product_img {
    width: 30%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
}
.text{
    position: absolute;
    left: 32%;
    top: 13%;
}
.category{
    width: 100px;
    height: 30px;
    top: 40%;
    right: -50px;
    position: absolute;
    rotate: 90deg;
    background-color: green;

}
.category_text{
    margin: auto;
    text-align: center;

}
 .product:nth-child(even) .product_img{
    right: 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
     border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.product:nth-child(even){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.product:nth-child(even) .category{
    left: -50px;
    rotate: -90deg;
}